@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --background: #0F0F10;
  --foreground: #171717;
}

@theme {
  --color-charmander-blue-50: #daf9ff;
  --color-charmander-blue-100: #aee7ff;
  --color-charmander-blue-200: #80d5fc;
  --color-charmander-blue-300: #50c5f9;
  --color-charmander-blue-400: #29B6F6;
  --color-charmander-blue-500: #099adc;
  --color-charmander-blue-600: #0078ac;
  --color-charmander-blue-700: #00567c;
  --color-charmander-blue-800: #00344d;
  --color-charmander-blue-900: #00131f;
  --color-charmander-pale-200: #81D4FA;
  --color-charmander-dull-200: #1C2B38;

  --font-pixel: 'Pixelify Sans', serif;
  --font-jersey: 'Jersey 15', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@layer base {
  h1, h2, li, button, input {
    font-family: 'Pixelify Sans', serif;
  }
  h4 {
    font-family: 'Jersey 15', sans-serif;
  }
  p {
    font-family: 'Poppins', sans-serif;
  }
  .text-highlight::selection {
    background: var(--color-charmander-blue-400);
    color: white;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

mark {
  padding: 0 3px;
  color: white;
  background-color: var(--color-charmander-blue-400);
}
